.streak-container {
	display: flex;
	overflow-x: auto;
	gap: 20px;
	padding: 10px 0; /* Vertical padding */
}

.day-link {
	text-decoration: none;
}

.day-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 10px;
	min-width: 60px;
	background-color: #57a0d3; /* Carolina Blue */
}

.day-button.current-day {
	background-color: #ffaa4c; /* Bright Yellow (Crayola) */
}

.day-button.inactive-day {
	background-color: #57a0d3; /* Carolina Blue */
}

.day-link.today {
	box-shadow: 0px 0px 5px 0px rgba(10, 7, 4, 0.5); /* Subtle shadow for today's date */
	background-color: #9a9395;
}
